<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/subjects/register}" method="post" th:object="${subjects}">
    <input type="hidden" th:field="*{id}">
    Subject Name: <input type="text" th:field="*{subjectName}"/> <br>

    <label>Course Name</label>
    <select name="courseId">
        <th:block th:each="course : ${courses}">
            <option th:value="${course.id}"><span th:text="${course.courseName}"></span></option>
        </th:block>

    </select>

    <button type="submit">Register</button>
</form>



</body>
</html>