<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2><a th:href="@{/subject/register}">Add Subject</a></h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Subject Name</th>
        <th>Course Name</th>
        <th colspan="2">Action</th>
    </tr>

    <tr th:each="subject: ${subjects}">
        <td th:text="${subject.id}"></td>
        <td th:text="${subject.subjectName}"></td>
        <td th:text="${subject.course.courseName}"></td>
        <td><a th:href="@{'/subject/edit/' + ${subject.id} }">Edit</a></td>
        <td>
            <form th:action="@{/subject/delete/{id}(id = ${subject.id})}" method="post">
                <button type="submit" onclick="return confirm('Do you really want ot delete?')">Delete</button>
            </form>
        </td>
    </tr>
</table>

</body>
</html>