<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/lecturer/{id}/set-subjects(id = ${lecturerId})}" method="post" th:object="${chooseSubject}">

    <ul th:each="subjects: ${subjects}">
        <li>
            <input type="checkbox" th:field="*{subjectIds}" th:value="${subjects.id}">
            <label th:text="${subjects.subjectName}"></label>
        </li>
    </ul>

    <button type="submit">Register</button>
</form>

</body>
</html>