<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/lecturer/register}" method="post" th:object="${lecturer}">
    <input type="hidden" th:field="*{id}">
    First Name: <input type="text" th:field="*{firstName}"/> <br>
    Last Name: <input type="text" th:field="*{lastName}"/> <br>
    Username: <input type="text" th:field="*{username}"/> <br>
    Password: <input type="password" th:field="*{password}"/> <br>

    <th:block sec:authorize="hasRole('ADMIN')">
        Roles:
        <ul th:each="role: ${roles}">
            <li>
                <input type="checkbox" name="roleIds" th:value="${role.id}">
                <label th:text="${role.roleName}"></label>
            </li>
        </ul>

        Permissions:
        <input type="hidden" name="permissionIds">

        <ul th:each="permission: ${permissions}">
            <li>
                <input type="checkbox" name="permissionIds" th:value="${permission.id}">
                <label th:text="${permission.permissionName}"></label>
            </li>
        </ul>
    </th:block>


    <button type="submit">Register</button>
</form>



</body>
</html>